[submodule "content/assets"]
	path = content/assets
	url = https://github.com/Marcejr117/Hacking-Note-Writeups-assets.git
[submodule "content/Walkthrough"]
	path = content/Walkthrough
	url = https://github.com/Marcejr117/Hacking-Note-Writeups-Walkthrough.git
	branch = main
